<app-options/>
<h1 class="text-center text-warning pt-5">Angular Quiz Game</h1>
<h2 class="h1 text-center text-warning py-3">What's your name?</h2>
<form class="mx-auto w-50 input-group" #nameForm="ngForm">
  <input
    class="w-100 bg-transparent outlined-none rounded form-control text-white input-placeholder-styling"
    placeholder="Enter your name"
    name="username"
    required
  />
  <button
    class="mx-auto mt-2 btn btn-warning rounded-pill text-white"
    type="submit"
  >
    Start Game
  </button>
</form>
